html, body, h1, h2, h3, h4, h6 ul, ol, li, p, a {
  padding: 0;
  border: 0;
  margin: 0;
}

body {
    background-image: url("../images/handmadepaper.png");
    background-repeat: repeat;
    background-position: top center;
}

#logoContainer {
    text-align: center;
}


img.logo {
    display:inline;
    margin: 1% auto;
    border-radius: 10%;
    margin-bottom: 0.5%;
    border: 1px solid black;
}

.error {
    color: red;
}

table tr td.ab {
    background:#d000d0;
    font-weight:bolder;
}

.changeCellColor {
    cursor:pointer;
    background:lightgreen;
}

.changeCellColorToday {
    cursor:pointer;
    background:#d000d0 !important;
}

.icon {
    display:block;
    margin:auto;
    border:1px solid black;
}

ul.back {
    margin: 0;
    padding: 0;
}

ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: black;
}

i {
    
    border: solid red;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 3px;
}

li.back {
    padding:0;
    margin:0;
    padding-right:68%;
    padding-left:0.5%;
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    margin-right: 1%;
}

li.move {
    padding:0;


}

.right {
    transform: rotate(315deg);
    -webkit-transform: rotate(135deg);
    margin-left: 1%;
}

li {
    display: inline;
    font-size: 28px;
    padding: 14px 16px;
    font-family: didot;
    color: lightblue;
}

ul.back li a {
    text-decoration: none;
    color: deepskyblue;
}

ul.menu li a {
    text-decoration: none;
    color: lightblue;
}

ul.back li a:hover {
    color: lightblue;
}

ul.menu li a:hover {
    color:lightskyblue;
}

table {
    width:75%;
    margin-left: 12.5%;
    margin-top:2%;
    border: 1px solid black;
    border-spacing: 0;
    box-shadow: 2px 1px 1px 1px #000;
    table-layout:fixed;
    overflow: hidden;
    height: 55%;
    white-space: nowrap;
}

caption {
    padding-bottom: 1%;
}

th {
    border-bottom: 1px solid black;
    padding: 0.5% 0 1% 0;
    overflow:hidden;
}

td {
    border-bottom: 1px solid black;
    padding: 0% 4% 4% 4%;
    text-align: center;
    border: 1px solid black;
    width:14.2857%;
    background:aliceblue;
    overflow: hidden;
    white-space: nowrap;
}


.login {
    margin-left: 40%;
}

.create {
    margin-left: 20%;
}

.vertical_line {
    border-right: 1px solid darkblue;
    width:15%;
    height:100%;
    float:left;
}


